################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/McTools.Xrm.Connection.TestWinForm/bin/Debug
